<section
  *ngIf="detailVacant; else empty"
  class="container m-auto mt-10 mb-10 bg-white md:w-2/3 lg:w-1/2 p-5 rounded-md"
>
  <h3 class="mb-5 text-neutral-800 font-bold text-lg text-center lg:text-xl">
    {{ detailVacant.title | titlecase }}
  </h3>
  <div class="block m-auto bg-neutral-100 p-5 rounded-md">
    <div>
      <h4 class="text-sm lg:text-base text-neutral-800">
        <strong>Empresa:</strong> {{ detailVacant.company }}
      </h4>
      <h4 class="text-sm lg:text-base text-neutral-800">
        <strong>Ultimo día para postularse:</strong>
        {{ detailVacant.lastDate | date: "dd/MM/yyyy" }}
      </h4>
    </div>
    <div>
      <h4 class="text-sm lg:text-base text-neutral-800">
        <strong>Categoría:</strong> {{ detailVacant.category.name | titlecase }}
      </h4>
      <h4 class="text-sm lg:text-base text-neutral-800">
        <strong>Salario:</strong> {{ detailVacant.salary.name }}
      </h4>
    </div>
  </div>

  <div class="mt-7 flex flex-col flex-wrap items-center">
    <div class="w-1/2 md:w-full">
      <img
        [src]="detailVacant.image"
        alt="Logo de vacante"
        class="block m-auto rounded-md md:w-1/3"
      />
    </div>
    <div class="w-full">
      <h4
        class="mb-5 mt-5 text-neutral-800 font-bold text-lg text-center lg:text-xl"
      >
        Descripción del puesto
      </h4>
      <p class="text-sm lg:text-base text-neutral-800 text-center md:text-left">
        {{ detailVacant.description }}
      </p>
    </div>
  </div>

  <div
    class="flex justify-center flex-col items-center bg-zinc-200 p-5 rounded-md mt-7"
    *ngIf="user && user.roleId.name === 'DEVELOPER'"
  >
    <h4
      class="mt-5 text-neutral-800 font-bold text-md text-center lg:text-lg"
    >
      Postularse a esta vacante
    </h4>
    <button
      type="button"
      class="w-1/4 mt-2 h-8 rounded-md px-2 bg-blue-700 text-white mx-1 hover:bg-blue-600"
      (click)="apply(detailVacant.uid!)"
    >
      Postularme
    </button>
  </div>
</section>

<ng-template #empty>
  <div
    class="bg-gray-50 rounded-lg py-5 px-6 mb-4 text-base text-gray-500 text-center mt-"
  >
    No se encontró información de la vacante, intente nuevamente.
  </div>
</ng-template>
