<section
  class="container m-auto mt-10 mb-10 bg-white md:w-2/3 lg:w-1/2 p-5 rounded-md"
>
  <h3 class="mb-5 text-neutral-800 font-bold text-lg text-center lg:text-xl">
    Desarrollador frontend
  </h3>
  <div class="block m-auto bg-neutral-100 p-5 rounded-md">
    <div>
      <h4 class="text-sm lg:text-base text-neutral-800">
        <strong>Empresa:</strong> Uber
      </h4>
      <h4 class="text-sm lg:text-base text-neutral-800">
        <strong>Ultimo día para postularse:</strong> 17/08/2022
      </h4>
    </div>
    <div>
      <h4 class="text-sm lg:text-base text-neutral-800">
        <strong>Categoría:</strong> Backend
      </h4>
      <h4 class="text-sm lg:text-base text-neutral-800">
        <strong>Salario:</strong> $1000
      </h4>
    </div>
  </div>

  <div class="mt-7 flex flex-col flex-wrap items-center">
    <div class="w-1/2 md:w-full">
      <img
        src="https://picsum.photos/200"
        alt=""
        class="block m-auto rounded-md md:w-1/3"
      />
    </div>
    <div class="w-full">
      <h4
        class="mb-5 mt-5 text-neutral-800 font-bold text-lg text-center lg:text-xl"
      >
        Descripción del puesto
      </h4>
      <p class="text-sm lg:text-base text-neutral-800 text-center md:text-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut obcaecati
        rem maiores earum repellat! Tempora molestiae, quidem repellat delectus
        maxime aspernatur numquam fugit, maiores explicabo harum quis corrupti
        cum quaerat in similique, assumenda animi perferendis labore saepe
        molestias temporibus officiis. Consequuntur reiciendis, ipsam at porro
        minima dolor eaque est vero obcaecati rerum. Culpa quaerat eos sit
        numquam incidunt error, magnam corporis voluptatibus, dolores voluptates
        asperiores natus libero, eveniet quae facilis modi. Quam maiores animi
        amet voluptates, quia et, nihil perferendis cum magnam labore soluta aut
        neque tempore eos iusto modi, unde dignissimos ut voluptate pariatur
        iure ipsum velit. Aperiam, corporis.
      </p>
    </div>
  </div>

  <div class="block m-auto bg-zinc-200 p-5 rounded-md mt-7">
    <h4
      class="mb-5 mt-5 text-neutral-800 font-bold text-md text-center lg:text-lg"
    >
      Postularse a esta vacante
    </h4>
    <label class="text-sm lg:text-base text-neutral-800 w-full">
      Curriculum /Hoja de vida (PDF)<span class="text-red-800">*</span>:</label
    >
    <input
      class="w-full rounded-md py-2 text-sm lg:text-base text-neutral-800"
      type="file"
    />
    <button
      class="w-1/4 mt-2 h-8 rounded-md px-2 bg-blue-700 text-white mx-1 hover:bg-blue-600"
    >
    Postularme
    </button>
  </div>
</section>
