<section class="block m-auto">
  <h1 href="" class="text-xl md:text-2xl text-center">
    <span class="text-black">Plataforma de </span>
    <strong class="text-black">trabajos</strong>
  </h1>
  <form
    class="bg-white mt-10 rounded-md mr-5 ml-5 p-2 md:w-1/2 md:block md:m-auto md:mt-10 lg:w-3/12"
  >
    <div class="block m-auto w-4/5 mt-2">
      <label class="font-semibold"
        >Nombre completo<span class="text-red-800">*</span>:</label
      >
      <input
        type="email"
        placeholder="Nombre completo"
        class="w-full h-8 rounded-md text-base px-2"
      />
    </div>

    <div class="block m-auto w-4/5 mt-2">
      <label class="font-semibold"
        >Correo electrónico<span class="text-red-800">*</span>:</label
      >
      <input
        type="email"
        placeholder="example@example.com"
        class="w-full h-8 rounded-md text-base px-2"
      />
    </div>

    <div class="block m-auto w-4/5 mt-2">
      <label class="font-semibold"
        >Tipo de cuenta<span class="text-red-800">*</span>:</label
      >
      <select class="w-full h-8 rounded-md text-base px-2">
        <option value="">Tipo de cuenta</option>
        <option [value]="role.uid" *ngFor="let role of roles">
          {{ role.name | titlecase }}
        </option>
      </select>
    </div>

    <div class="block m-auto w-4/5 mt-2">
      <label class="font-semibold"> Contraseña:</label>
      <input
        type="password"
        placeholder="******"
        class="w-full h-8 rounded-md text-base px-2"
      />
    </div>

    <div class="block m-auto w-4/5 mt-2">
      <label class="font-semibold"> Confirmar contraseña:</label>
      <input
        type="password"
        placeholder="******"
        class="w-full h-8 rounded-md text-base px-2"
      />
    </div>

    <div class="m-auto w-4/5 mt-2">
      <a href="" class="font-normal text-sm text-center">Iniciar sesión</a>
    </div>

    <div class="block m-auto w-4/5 mt-2 mb-2">
      <button
        class="w-full h-8 rounded-md px-2 bg-blue-700 text-white mx-1 hover:bg-blue-600"
      >
        Crear cuenta
      </button>
    </div>
  </form>
</section>
