<div
  class="w-full bg-white md:flex md:flex-row md:flex-wrap md:justify-between md:items-center border-b-2 shadow-2xl shadow-white rounded mt-2"
>
  <div class="p-5">
    <h1 class="text-neutral-800 font-bold text-2xl pointer">
      <a [routerLink]="['/vacants', 'detail', dataVacant.uid]">
        {{ dataVacant.title | titlecase }}
      </a>
    </h1>
    <h2 class="text-neutral-800 font-semibold text-base">
      {{ dataVacant.company | titlecase }}
    </h2>
    <p class="text-neutral-700 font-normal text-sm">
      Postular antes del: <span>{{ dataVacant.lastDate | date: "dd/MM/yyyy" }}</span>
    </p>
  </div>
  <div class="flex flex-row justify-end flex-wrap">
    <button
      class="md:w-auto w-full h-8 rounded-md px-2 bg-slate-800 text-white hover:bg-slate-700  m-3"
      (click)="viewCandidates(dataVacant.uid!)"
    >
      <span> {{ totalCandidates }}</span> Candidatos
    </button>
    <button
      class="md:w-auto w-full h-8 rounded-md px-2 bg-blue-700 text-white m-3 hover:bg-blue-600"
      (click)="editVacant(dataVacant.uid!)"
    >
      Editar
    </button>
    <button
      type="button"
      class="md:w-auto w-full h-8 rounded-md px-2 bg-red-700 text-white m-3 hover:bg-red-600"
      (click)="deleteVacant(dataVacant.uid!)"
    >
      Eliminar
    </button>
  </div>
</div>
