<div
  class="w-full bg-white md:flex md:flex-row md:flex-wrap md:justify-between md:items-center border-b-2 shadow-2xl shadow-white rounded"
>
  <div class="p-5">
    <h1 class="text-neutral-800 font-bold text-2xl">Angular developer</h1>
    <h2 class="text-neutral-800 font-normal text-base">Google</h2>
    <p class="text-neutral-700 font-bold text-sm">Frontend developer</p>
    <p class="text-neutral-800 font-normal text-base">$1000 - $1499</p>
    <p class="text-neutral-700 font-normal text-sm">
      <strong>Ultimo día para postular: </strong> 30/06/2022
    </p>
  </div>
  <div class="flex flex-row justify-end">
    <button class="w-auto h-8 rounded-md px-2 bg-blue-700 text-white m-3  hover:bg-blue-600">
      Ver vacante
    </button>
  </div>
</div>
