<div class="w-full bg-white mt-2 shadow-2xl shadow-white border-b-2">
  <div class="p-2 flex flex-row flex-wrap justify-between align-center">
    <div class="flex flex-row justify-start align-center">
      <img
        [src]="
          candidate.candidate.image
            ? candidate.candidate.image
            : './assets/img/default_image.jpg'
        "
        alt="Imagen perfil de usuario"
        class="w-12 h-12 rounded-full"
      />
      <div class="ml-5">
        <p class="text-neutral-800 font-semibold text-base">
          {{ candidate.candidate.name }}
        </p>
        <span>{{ candidate.candidate.email }}</span>
      </div>
    </div>
    <button
      title="Ver perfil de candidato"
      class="w-auto h-8 rounded-md px-2 bg-slate-800 text-white hover:bg-slate-700 text-whitee m-3"
      (click)="viewProfile(candidate.candidate._id)"
    >
      Ver perfil
    </button>
  </div>
</div>
