<section
  class="container m-auto mt-10 mb-10 bg-white md:w-2/3 lg:w-1/2 p-5 rounded-md"
>
  <h3 class="mb-5 text-neutral-800 font-bold text-lg text-center lg:text-xl">
    Perfil de usuario
  </h3>
  <div class="w-full">
    <img
      src="./assets/img/default_image.jpg"
      alt="Imagen de usuario"
      class="block m-auto rounded-full w-28 h-28"
    />
    <h4 class="mt-2 text-neutral-800 font-bold text-lg text-center lg:text-xl">
      demo.dev
    </h4>
    <p class="text-sm lg:text-base text-neutral-800 text-center md:text-center">
      demo.dev@demo.com
    </p>
  </div>

  <form class="mt-5" [formGroup]="userForm" (ngSubmit)="editProfile()">

    <ng-container *ngIf="errorMesagges.length > 0">
      <app-alert  *ngFor="let error of errorMesagges" [message]="error"></app-alert>
    </ng-container>

    <div class="block m-auto w-4/5">
      <label class="font-semibold"
        >Nombre completo<span class="text-red-800">*</span>:</label
      >
      <input
        type="text"
        placeholder="Nombre completo"
        class="w-full h-8 rounded-md text-base px-2"
        [ngClass]="{
          'outline outline-2 outline-red-600': validateField('name')
        }"
        formControlName="name"
      />
      <small class="text-red-600 text-sm" *ngIf="validateField('name')"
        >El nombre es requerido.</small
      >
    </div>

    <div class="block m-auto w-4/5 mt-2">
      <label class="font-semibold">Correo electrónico:</label>
      <input
        type="email"
        placeholder="demo@demo.com"
        class="w-full h-8 rounded-md text-base px-2"
        [ngClass]="{
          'outline outline-2 outline-red-600': validateFormat('email')
        }"
        formControlName="email"
      />

      <small class="text-red-600 text-sm" *ngIf="validateFormat('email')"
        >El formato del correo electrónico es invalido.</small
      >
    </div>

    <div class="block m-auto w-4/5 mt-2">
      <label class="font-semibold">Número de teléfono<span class="text-red-800">*</span>:</label>
      <input
        type="text"
        placeholder="000-000-0000"
        class="w-full h-8 rounded-md text-base px-2"
        [ngClass]="{
          'outline outline-2 outline-red-600':
            validateFormat('phone') || fieldRequired('phone')
        }"
        formControlName="phone"
      />
      <small class="text-red-600 text-sm" *ngIf="fieldRequired('phone')"
        >El número de teléfono es requerido.</small
      >
      <small class="text-red-600 text-sm" *ngIf="validateFormat('phone')"
        >El formato del número de teléfono es invalido.</small
      >
    </div>

    <div class="block m-auto w-4/5 mt-2">
      <label class="font-semibold">Ciudad<span class="text-red-800">*</span>:</label>
      <input
        type="text"
        placeholder="Ciudad"
        class="w-full h-8 rounded-md text-base px-2"
        [ngClass]="{
          'outline outline-2 outline-red-600': validateField('city')
        }"
        formControlName="city"
      />
      <small class="text-red-600 text-sm" *ngIf="validateField('city')">
        La ciudad es requerida.</small
      >
    </div>

    <div class="block m-auto w-4/5 mt-2">
      <label class="font-semibold">Contraseña actual:</label>
      <input
        type="password"
        placeholder="******"
        class="w-full h-8 rounded-md text-base px-2"
        formControlName="password"
      />
    </div>

    <div class="block m-auto w-4/5 mt-2">
      <label class="font-semibold">Nueva contraseña:</label>
      <input
        type="password"
        placeholder="******"
        class="w-full h-8 rounded-md text-base px-2"
        [ngClass]="{
          'outline outline-2 outline-red-600': validateField('newPassword')
        }"
        formControlName="newPassword"
      />
      <small class="text-red-600 text-sm" *ngIf="validateField('newPassword')">
        La contraseña debe tener un mínimo de 6
        caracteres.</small
      >
    </div>

    <div class="block m-auto w-4/5 mt-2">
      <label class="font-semibold">
        Foto de perfil:</label
      >
      <input
        class="w-full rounded-md text-base px-2 py-1.5"
        type="file"
        formControlName="image"
        (change)="onFileChange($event)"
      />
    </div>

    <div class="block m-auto w-4/5 mt-5">
      <button
        type="submit"
        class="w-full h-8 rounded-md px-2 bg-blue-700 text-white mx-1 hover:bg-blue-600"
      >
        Editar perfil
      </button>
    </div>
  </form>
</section>
