<section class="bg-slate-100 py-2 px-3 mt-10">
  <h3 class="mb-5 text-neutral-800 text-lg text-center lg:text-xl">
    Candidatos en la vacante <strong>Vacant 1</strong>
  </h3>
  <div class="container m-auto md:w-2/3 lg:w-1/2 h-full">
    <span>Total candidatos: <strong>0</strong></span>
    <app-card-candidate></app-card-candidate>
    <app-card-candidate></app-card-candidate>
    <app-card-candidate></app-card-candidate>
    <app-card-candidate></app-card-candidate>
    <app-card-candidate></app-card-candidate>
    <app-card-candidate></app-card-candidate>
    <app-card-candidate></app-card-candidate>
    <app-card-candidate></app-card-candidate>
    <app-card-candidate></app-card-candidate>
    <app-card-candidate></app-card-candidate>
  </div>
</section>
